<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eat}}">
		{{#if !eaten}}DEVOUR ME!{{/if}}
	</button>

	<button class="delete-eaten" data-id="{{this.id}}">DELETE!</button>
</li>
